* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0,4s;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
    display: flex;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 769px) {
    .wrapper {
        flex-direction: column;
    }
}

.btn {
    border-radius: 0;
    height: 70px;
    background: linear-gradient(217deg, rgba(252,135,232,1) 36%, rgba(33,235,222,0.919502835313813) 75%);
    color: aliceblue;
    outline: none;
    border: none;
    display: block;
}

@media screen and (min-width: 769px) {
    .btn {
        display: none;
    }
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 426px) {
    .col {
        height: 500px;
    }
}

h2 {
    padding: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 15px;
}

h2:hover {
    background: rgba(0, 0, 0, 0.1);
}

button {
    outline: none;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    transition: 0.5s;
}

button:hover {
    background: rgba(0, 0, 0, 0.1);
}